/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-themedark {
  --dimension-spacing-0: 0rem;
  --dimension-font-weight-100: 25rem;
  --dimension-font-weight-200: 50rem;
  --dimension-font-weight-300: 75rem;
  --dimension-font-weight-400: 100rem;
  --dimension-font-weight-500: 125rem;
  --dimension-font-weight-600: 150rem;
  --dimension-font-weight-700: 175rem;
  --dimension-font-weight-800: 200rem;
  --dimension-font-weight-900: 225rem;
  --dimension-spacing-2: 0.5rem;
  --dimension-spacing-4: 1rem;
  --dimension-spacing-8: 2rem;
  --dimension-spacing-12: 3rem;
  --dimension-spacing-16: 4rem;
  --dimension-spacing-20: 5rem;
  --dimension-spacing-24: 6rem;
  --dimension-spacing-28: 7rem;
  --dimension-spacing-32: 8rem;
  --dimension-spacing-36: 9rem;
  --dimension-spacing-40: 10rem;
  --dimension-spacing-44: 11rem;
  --dimension-spacing-48: 12rem;
  --dimension-spacing-52: 13rem;
  --dimension-spacing-56: 14rem;
  --dimension-spacing-60: 15rem;
  --dimension-spacing-64: 16rem;
  --dimension-spacing-68: 17rem;
  --dimension-spacing-72: 18rem;
  --dimension-spacing-76: 19rem;
  --dimension-spacing-80: 20rem;
  --dimension-spacing-96: 24rem;
  --dimension-spacing-full: 2499.75rem;
  --dimension-font-size-10: 2.5rem;
  --dimension-font-size-12: 3rem;
  --dimension-font-size-14: 3.5rem;
  --dimension-font-size-16: 4rem;
  --dimension-font-size-18: 4.5rem;
  --dimension-font-size-20: 5rem;
  --dimension-font-size-24: 6rem;
  --dimension-font-size-28: 7rem;
  --dimension-font-size-32: 8rem;
  --dimension-font-size-36: 9rem;
  --dimension-font-size-48: 12rem;
  --dimension-font-size-64: 16rem;
  --dimension-font-height-10: 2.5rem;
  --dimension-font-height-12: 3rem;
  --dimension-font-height-14: 3.5rem;
  --dimension-font-height-16: 4rem;
  --dimension-font-height-18: 4.5rem;
  --dimension-font-height-20: 5rem;
  --dimension-font-height-24: 6rem;
  --dimension-font-height-28: 7rem;
  --dimension-font-height-32: 8rem;
  --dimension-font-height-36: 9rem;
  --dimension-font-height-40: 10rem;
  --dimension-font-height-44: 11rem;
  --dimension-font-height-48: 12rem;
  --dimension-font-height-56: 14rem;
  --dimension-font-height-64: 16rem;
  --dimension-font-height-80: 20rem;
  --dimension-breakpoint-375: 93.75rem;
  --dimension-breakpoint-1024: 256rem;
  --dimension-breakpoint-1440: 360rem;
  --dimension-breakpoint-1920: 480rem;
  --dimension-border-radius-4: 1rem;
  --dimension-blur-4: 1rem;
  --dimension-blur-12: 3rem;
  --dimension-blur-16: 4rem;
  --dimension-blur-24: 6rem;
  --dimension-border-size-1: 0.25rem;
  --dimension-border-size-2: 0.5rem;
  --dimension-border-size-3: 0.75rem;
  --dimension-border-radius-8: 2rem;
  --dimension-border-radius-16: 4rem;
  --dimension-border-radius-20: 5rem;
  --dimension-border-radius-32: 8rem;
  --dimension-border-radius-9999: 2499.75rem;
  --dimension-typography-font-weight-thin: var(--dimension-font-weight-100);
  --dimension-typography-font-weight-light: var(--dimension-font-weight-300);
  --dimension-typography-font-weight-normal: var(--dimension-font-weight-400);
  --dimension-typography-font-weight-medium: var(--dimension-font-weight-500);
  --dimension-typography-font-weight-semibold: var(--dimension-font-weight-600);
  --dimension-typography-font-weight-bold: var(--dimension-font-weight-700);
  --dimension-typography-font-weight-extrabold: var(--dimension-font-weight-800);
  --dimension-typography-font-weight-black: var(--dimension-font-weight-900);
  --dimension-blur-sm: var(--dimension-blur-4);
  --dimension-blur-md: var(--dimension-blur-12);
  --dimension-blur-lg: var(--dimension-blur-16);
  --dimension-blur-xl: var(--dimension-blur-24);
}