/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-themelight {
  --opacity-strong: 0.75;
  --opacity-default: 0.5;
  --opacity-soft: 0.25;
  --opacity-subtle: 0.1;
}